.input_wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox_wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}

.input_fields{
    display: flex;
    align-items: center;
    gap: 20px;
}