.navbar_wrapper{
    position: fixed;
    height: 70px;
    width: 100%;
}

.body_container{
    display: flex;
    /* border: 1px solid; */
    /* padding-top: 70px; */
}

.sidebar{
    flex: 0.18;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 71px);
    background: #f3f2f2;
    padding: 20px;

}

.sidebar_top{
    display: flex;
    flex-direction: column;
    gap: 40px   ;
}

.user_profile{
    display: flex;
    border-radius: 8px;
    background: #c2c2c2;
    padding: 8px;
    align-items: center;
    gap: 10px;
}

.user_img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* border: 1px solid; */
}

.user_desc{

}

.user_desc h3{
    font-size: 18px;
    font-weight: 600;
}

.user_desc p{
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}

.links_wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.links_container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.links_wrapper a{
    text-decoration: none;
    color: black;
}

.setting_wrapper{
    padding: 30px 20px;
}

.settings_container{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: black;
}

.outlet{
    flex: 1;
}